@model ASP.Net_Project_2.Models.Item
@{
	ViewData["title"] = "Delete";
}
<h1>Are you sure you want to delete this item?</h1>

<p>Item Name:  @Model.Name</p>
<p>Item Price:  @Model.Price $</p>


<form asp-action="Delete" method="post">
	<input type="hidden" asp-for="Id"/>
	<input type="submit" class=" btn btn-danger" value="Delete"/>
</form>